<h1>BLOCKCHAIN</h1>

<p>
  Hello, <%= @user.email %>,
</p>
<p>
	Transaction between you and <%= @receiver.email %> with $<%= @amount %> has been confirm by our system. Please wait 3-5 minutes for KCOIN system confirm it.
</p>
