@font-face {
  font-family: "Montserrat Black";
  src: font-url('Montserrat-Black.ttf') format("opentype");
}
@font-face {
  font-family: "Montserrat BlackItalic";
  src: font-url('Montserrat-BlackItalic.ttf') format("opentype");
}
@font-face {
  font-family: "Montserrat Bold";
  src: font-url('Montserrat-Bold.ttf') format("opentype");
}
@font-face {
  font-family: "Montserrat BoldItalic";
  src: font-url('Montserrat-BoldItalic.ttf') format("opentype");
}
@font-face {
  font-family: "Montserrat Italic";
  src: font-url('Montserrat-Italic.ttf') format("opentype");
}
@font-face {
  font-family: "Montserrat Medium";
  src: font-url('Montserrat-Medium.ttf') format("opentype");
}
@font-face {
  font-family: "Montserrat Light";
  src: font-url('Montserrat-Light.ttf') format("opentype");
}
@font-face {
  font-family: "Montserrat LightItalic";
  src: font-url('Montserrat-LightItalic.ttf') format("opentype");
}
@font-face {
  font-family: "Montserrat Regular";
  src: font-url('Montserrat-Regular.ttf') format("opentype");
}
@font-face {
  font-family: "Montserrat Thin";
  src: font-url('Montserrat-Thin.ttf') format("opentype");
}
@font-face {
  font-family: "Montserrat ThinItalic";
  src: font-url('Montserrat-ThinItalic.ttf') format("opentype");
}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0 0 50px;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Montserrat Regular", sans-serif !important;
}

#alert {
  color: red;
}

.main-alert {
  position:absolute;
  width: 100%;
  border-radius: 0;
  height: 55px;
  &.show{
    z-index: 1000;
  }
}

.alert {
  margin-bottom: 0;
}

.content {
  min-height: 100%;
}

.content-inside {
  padding: 20px 20px 50px;
}

.footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 55px;
  line-height: 40px;
  background-color: #004a7c;
  color: white;

  .footer-block {
    vertical-align: middle;
  }
}
